{
  "warchestAccountId": "neozaru14.betanet",
  "poolAccountId": "neozaru.stakehouse.betanet",
  "near": {
    "networkId": "betanet",
    "nodeUrl": "http://neozaru.com:3030/",
    "keystoreDir": "./neardev"
  },
  "rebalancing": {
    "levels": {
      "lowThreshold": 1.4,
      "lowTarget": 1.5,
      "highTarget": 1.8,
      "highThreshold": 1.9
    },
    "policy": {
      "type": "BEST",
      "minRebalanceAmount": 1000
    }
  },
  "metrics": {
    "hostname": "localhost",
    "port": 3039
  }
}