{
  "delegatorAccountId": "neozaru14.betanet",
  "poolAccountId": "neozaru.stakehouse.betanet",
  "near": {
    "networkId": "betanet",
    "nodeUrl": "https://rpc.betanet.near.org",
    "keystoreDir": "./neardev"
  },
  "rebalancing": {
    "levels": {
      "lowThreshold": 1.1,
      "lowTarget": 1.2,
      "highTarget": 1.8,
      "highThreshold": 1.9
    },
    "policy": {
      "type": "BEST",
      "minRebalanceAmount": 1000
    }
  },
  "metrics": {
    "enabled": true,
    "hostname": "0.0.0.0",
    "port": 3039
  }
}