{
  "networkId": "betanet",
  "nodeUrl": "https://rpc.betanet.near.org",
  "nearKeystoreDir": "./neardev",
  "warchestAccountId": "neozaru14.betanet",
  "poolAccountId": "neozaru.stakehouse.betanet",
  "rebalanceLevels": {
    "lowThreshold": 1.1,
    "lowTarget": 1.2,
    "highTarget": 1.8,
    "highThreshold": 1.9
  },
  "rebalancePolicy": {
    "type": "BEST",
    "minRebalanceAmount": 1000
  }
}